// COLORS
$lightgrey: #f3f5f6;
$lightblue: #0772ff;
$nav-bar-color: #323232;
$hover-nav-bar: #0AE2FF;

// SIZE
$h1: 2.5rem;
$h2: 2rem;
$subtitle: 1.5em;
$font-size: 15px;

// BOXES SHADOW
$lightShadow: 0 0 2px 0 rgba(137,146,177,.15),
0 3px 10px 0 rgba(137,146,177,.15);
$darkShadow: 2px 2px 4px 0 rgba(137,146,177,.15),
2px 6px 20px 0 rgba(137,146,177,.15);

$shadowComments: 2px 2px 4px 4px rgba(137,146,177,.15),
4px 6px 20px 6px rgba(137,146,177,.15);



