.carousel {
  position: relative;
  height: 100%;
}

.carousel-item {
  float: left;
  padding: 0 1em;
}

.carousel-container {
  transition: transform .9s;
  transform: translate3d(0,0,0);
}

.carousel-container::after {
  content: '';
  clear: both;
  display: table;
}
